/* Aquí van tus estilos */
@import 'core/variables'; 
@import 'core/reset';
@import 'core/mixins';


// font-family: 'Eagle Lake', cursive;
// font-family: 'Julee', cursive;

.container{
    
    display: flex; 
    align-items: center;
    color: rgb(244, 242, 235); 
    display: flex; 
    flex-direction: column;
    background-color: rgb(0, 0, 0);
   
    
}
.header {
    display: flex;
    flex-direction: column;
    justify-content:flex-end; 
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: rgb(53, 43, 82);
    width: 80%; 
    text-shadow: 0 2px 3px black;
    background-image: url(../../public/header.png); 
    width: 100%;
    background-size:cover; 
    background-repeat: no-repeat;
    height: 500px; 
    border: balck 5px; 
  
}
.main{
    transform: translateY(-10px);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    width: 90%; 
    margin-bottom: 100px;
}

.search{
    &__form{
        opacity: 1;
        display: flex; 
        flex-flow: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        font-family: $font1;
        margin-top: 50px;
        font-size: 2.2rem;
        
    }
    &__h1{
        font-size:5rem;
        color: $color1; 
    }
}

.char{
    width: 100%; 
    &__list{
        z-index: 100;
        opacity: 1;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1,1fr);  
        align-content: center;
        justify-items: center;
        @include tablet{
            grid-template-columns: repeat(3,1fr);  
        }
        @include desktop{
            grid-template-columns: repeat(5,1fr); 
        }
    }
}

.ul {
    display: grid;
    text-decoration: none;
    gap: 10px;
    color: black;
    padding: 40px;
    margin-bottom: 200px;
    text-decoration: none;
  }

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    opacity: 1;
    color:$color1;
    border: 5px white; 
    height: 500px; 
    width: 350px; 
    border: 5px goldenrod;  
    


    &__img{
        margin-top: 20px;
        // height: 318px;
        height: 420px;
        width: 320px; 
        contain: cover;
    }
    &__name{
        font-size:2rem;
        text-decoration: none;
    }
    &__text{
        font-size:1.6rem;
        text-transform: capitalize;
        text-decoration: none;
 
    }
    &__crest{
        margin-top: 20px;
        height: 220px;
        width: 180px; 
        contain: contain;
    }
    
}
.detail{
    color: $color1; 
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 50px;
    &__card{
    display: flex;
    flex-direction: column;
    gap: 50px; 
    @include tablet {
        flex-direction: row;
    }
    
    }
    &__info{
        
        display: flex; 
        flex-direction: column;
        justify-content: flex-end;
    }
}

.mainError{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    &__h1{
        margin-top: 50px;
    }
}

.item{
    text-decoration: none;
}

.input{
    font-size: 1.8rem;
    margin-left: 20px;
    padding-left: 5px; 
    font-family: $font1;
}

.reset{
    font-size: 1.8rem;
    margin-left: 20px;
    padding-left: 5px; 
    font-family: $font1;
    margin-top: 10px;
    width: 200px; 
    margin:auto; 
    margin-top: 20px; 

}